* {
    margin: 10px;
    padding: 10px;
}

div {
    background-color: burlywood;
    font-style: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rebeccapurple;
    margin bottom: 20px;
}

#ab {
    font-size: larger;
    font-style: unset;
    font-size-adjust: initial;
}

#jkl {
    font-style: bold;
    margin: 2px;
    padding: 2px;
    border: saddlebrown;
    background-color: yellow;
}